

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
ol,ul li,ul li a , a
{
    text-decoration: none !important;
    list-style:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ....................resetcss............... */

/* .......................header.................. */
body
{
    background:#007cec;
}
.homepage
{
    background:#ffffff;
    margin:3% auto;
    width:90%;
    border-radius: 40px;
    padding: 40px 0 0;
}  
/* .portfolio
{
   
    /* border-radius:10%; */  
/* }  */
.container
{
    padding: 0 5%;
}
header
{
    position:relative;
    overflow:none;
}
.header-content
{
    display:flex;
    justify-content:space-between;
}
.header-logo
{
    display:flex;
    font-size: 20px;
    color: #222;
    font-weight: 600;
}
.header-logo-symbol
{
    width: 44px;
    /* height: 44px; */
    line-height: 44px;
    background-color: #007ced;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
}
.header-content span
{
    padding:0 5px;
    font-weight:400;
}
.header-content h2
{
    font-size:25px;
    align-self:center;
}
.logo-adn
{
    color:#007cec;
    font-size:45px;
}
.header-menu-icon
{
    display:none;
}
.nav-bar
{
    align-self:center;
}
.nav-bar ul li
{
    display:inline-block;
    margin-right:28px;
    font-family: poppins,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
        
}
.nav-clr
{
    color:#dadada;
}
.nav-active-clr
{
    color:#6a6a6a;
}
.fa-chevron-down
{
    font-size:11px;
    padding-left:3px;
    color:##dadada;
}
.dropdown
  {
      float:none;
      clear:both;
  }
  .dropbtn
  {
      border:none;
      background: inherit;
  }
  .dropbtn:hover
  {
      background:white;
  }

  .dropdown-content
  {
      display:none;
      position:absolute;
      top:100%;
      z-index:1;
      background-color: #fff;
      padding: 20px 11px;
      width: 130%;
      margin-top: 25px;
      border-radius: 8px;
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  }
  .dropdown-content a
  {
    display: block;
    padding-top: 10px;
    width: 100%;
    font-size:14px;
  }
  .dropdown-content a:hover
  {
      background: white;
      
  }
  .dropdown:hover .dropdown-content 
  {
    display: block;
    background: white;
  }
/* ..........................banner section................. */
.banner-container
{
    display:flex;
    justify-content:center;
    padding: 5% 14%;
}
.banner-container-image
{
    padding: 20px;
    border-radius: 50%;
    background: white;
    border: 1px solid image;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
}
.banner-img
{
    border-radius:50%;
    
}
.banner-content
{
   margin:34px 27px 0 40px;
}
.banner-heading 
{
    /* padding-top:25px; */
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: poppins,Helvetica,sans-serif;
}
.banner-content h1
{
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    color:#333333;
}
.banner-center
{
    font-size: 14px;
    color: #666;
    margin: 0 0 10px;
    line-height:1.75;
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 400;
}

.bannerbtn
{
    margin-top: 22px;
    padding: 11px 40px;
    border: 2px solid #007ced;
    background:white;
    border-radius:30px;
    cursor:pointer
    outline:none;
    font-family: poppins,Helvetica,sans-serif;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 22%);
}
.bannerbtn a
{
    color:#454545;
}
.bannerbtn:hover
{
    background:#007ced;
    transition: 5s;
    
}
.bannerbtn a:hover
{
    color:white;
}
.banner-contact-btn
{
    margin-left:10px;
    padding: 11px 40px;
    background: white;
    border:2px solid #d5d5d5;
    border-radius:30px;
    outline:none;
    font-family: poppins,Helvetica,sans-serif;
}
.banner-contact-btn a
{
    color:#bdbdbd;
}
/* ..............................activities-section..................... */
.activities
{
    padding-top:50px;
}
.activities-container h2
{
    font-size:21px;
    color:#333;
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 400;
}
.activities-heading
{
    display:flex;
    padding-top:7px;
}
.activities-heading-clr-1
{
    border: 1px solid #007ced;
    width: 2%;
}
.activities-heading-clr-2
{
    border: 1px solid #f5f5f5;
    width: 7%;
}
.activities-content
{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-top:25px;
}
.copywrite, .ecommerce, .web-design, .marketing
{
    display:flex;
    width:48%;
}
.copywrite-icon, .fa-dumpster , .fa-tv, .fa-bullhorn
{
    font-size: 33px;
    color: #007ced
}
.copywrite-content, .ecommerce-content, .web-content, .marketing-content
{
    padding-left:22px;
}
.copywrite-content h2, .ecommerce-content h2 , .web-content h2, .marketing-content h2
{
    font-size: 18px;
    padding-top: 2px;
    color:#333;
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
}
.copywrite-content p, .ecommerce-content p, .web-content p, .marketing-content p
{
    padding-top:8px;
    line-height:1.3;
    color: #666;
    margin: 0 0 10px;
    font-family: poppins,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height:1.75;
}
.web-design, .marketing
{
    padding-top:25px;
}
/* ..............................testimonial-section.............. */
.testimonials-item
{
    padding-top:36px;
}
.heading
{
    font-size: 21px;
    font-family: poppins,Helvetica,sans-serif;
    color: #333;
    padding-bottom:7px;
   
}
.testimonials-heading
{
    display:flex;
}
.testimonials-clr-1
{
    border: 1px solid #007ced;
    width: 3%;
}
.testimonials-clr-2
{
    border: 1px solid #bda2a2;
    width: 7%;
}
.testimonials-section
{
    display:flex;
    margin-top:20px;
}
/* .testimonials-container
{
    display:flex;
} */
.testimonials-container-1
{
    position:relative;
    width:50%;
    z-index:2;
}
.testimonials-content
{
    border: 2px solid #e5e5e5;
    border-radius:10px;
    padding: 34px 30px 30px 49px;
    margin-left: 35px;
    margin-top: 29px;
}
.testimonials-img
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 6px;
    left: 0;
}
.testimonials-content h2
{
    padding-top:15px;
}
.testimonials-content p
{
    color:#848484;
    font-family: poppins,Helvetica,sans-serif;
    line-height:1.75;
}
.testimonials-author-info
{
    padding-top: 8px;
}
.testimonials-author-info h2
{
    color:#333333;
    padding-bottom:2px;
    font-size:15px;
}
.testimonials-author-info p
{
    color:#bbb;
    font-size:12px;
}
.fa-quote-left
{
    position: absolute;
    bottom: 30%;
    left: 10%;
    color:#e5e5e5;
    font-size:20px;
}
.fa-quote-right
{
    position:absolute;
    color:#f5f5f5;
    font-size: 44px;
    right: -4%;
    bottom: -15px;
    z-index:1;
}
.testimonials-container-2
{
    position:relative;
    width:50%;
    margin-left:5%;
    z-index:2;
}
.testimonials-slide-bar
{
    display:flex;
    justify-content:center;
    margin:40px 0 0 20px;
}
.testimonials-slide-bar-1
{
    width:3%;
    border:2px solid #007ced;
    margin-left:12px;
}
.testimonials-slide-bar-2
{
    width:2%;
    border:2px solid #bda2a2;
    margin-left:10px;
}
/* ...........................clients................ */
.client-heading
{
    padding-top:36px;
    font-size:21px;
}
.client-sub-heading
{
    display:flex;
    padding-top:7px;
    margin-bottom:30px;
    font-family: poppins,Helvetica,sans-serif;
}
.client-sub-clr-1
{
    border: 1px solid #007ced;
    width: 2%;
}
.client-sub-clr-2
{
    border: 1px solid #f5f5f5;
    width: 5%; 
}
.client-content
{
    /* display:flex;
    justify-content:space-between; */
    padding: 10px 15px 15px;
}
/* .carousel-inner
{
   display:flex;
    justify-content:space-between;
    padding: 10px 15px 15px; 
} */
.carousel-inner img
{
    width: 175px;
    margin-right: 10px;
}
.carousel-inner > .active
{
    display: flex;
    justify-content: space-between;
}
.client-logo
{
    max-width:100px;
    width:100px;
}
.client-slide-bar
{
    display:flex;
    justify-content:center;
    margin:25px 0 0 20px;
}
.client-slide-bar-1
{
    width:3%;
    border:2px solid #007ced;
    margin-left:12px;
}
.client-slide-bar-2
{
    width:2%;
    border:2px solid #bda2a2;
    margin-left:10px;
}
/* ......................fun facts................... */
.fun-heading
{
    padding-top:30px;
    font-size:21px;
    color:#333;
    font-family: poppins,Helvetica,sans-serif;
}
.fun-sub-heading
{
    display:flex;
    padding-top:7px;
}
.sub-clr-1
{
    border: 1px solid #007ced;
    width: 2%;
}
.sub-clr-2
{
    border: 1px solid #f5f5f5;
    width: 6%; 
}
.fun-block
{
    display:flex;
    justify-content:space-between;
    padding-top:20px;
}
.fun-client
{
    text-align:center;
    width: 23%;
    border: 2px solid #e5e5e5;
    border-radius:10px;
    padding:22px 0;
}
.fun-client:hover
{
    box-shadow: 0 7px 12px rgb(0 0 0 / 12%); 
    transform: translatey(6px);
}
.fun-icon
{
    font-size: 36px;
    /* margin-top:15px; */
    color:#3b9af1;
}
.fun-client h3
{ 
    font-size: 16px;
    margin: 15px;
    font-family: poppins,Helvetica,sans-serif;
    color:#333;
}
.fun-client p
{
    color:#d5d5d5;
    font-size: 48px;
    line-height: 52px;
    font-family: poppins,Helvetica,sans-serif;
    font-weight:400px;
}
/* ....................pricing................. */
.pricing-block h2
{
    padding-top:40px;
    font-size:21px;
    font-family: poppins,Helvetica,sans-serif;
    color:#333;
}
.pricing-container
{
    display:flex;
    justify-content:space-between;
    padding-top:36px;
}
.pricing-subblock
{
    display:flex;
    margin-top:7px;
}
.pricing-sub-clr-1
{
    border: 1px solid #007ced;
    width: 1%;
}
.pricing-sub-clr-2
{
    border: 1px solid #f5f5f5;
    width: 4%;
}
.pricing-silver , .pricing-gold, .pricing-platinum
{
    border:2px solid #e5e5e5;
    background-color: #fff;
    /* padding:30px; */
    border-radius:15px;
    text-align:center;
    width:31%;
}
.pricing-silver
{
    margin-bottom:10px;
    padding:30px 0 15px;
}
.pricing-silver:hover
{
    box-shadow: 0 7px 12px rgb(0 0 0 / 12%);
    transform: translatey(6px);
}
.pricing-gold
{
    padding:30px 0 20px;
    margin-bottom:5px;
}
.pricing-gold:hover
{
    box-shadow: 0 7px 12px rgb(0 0 0 / 12%); 
    transform: translatey(6px);
}
.pricing-gold-block
{
    display:flex;
    justify-content: center;
    margin-top:7px;
}
.pricing-gold-clr-1
{
    border: 1px solid #007ced;
    width: 9%;
}
/* .pricing-gold-clr-2
{
    border: 1px solid #f5f5f5;
    width: 2%;   
} */
.pricing-platinum
{
    padding:30px 0 30px;
}
.pricing-platinum:hover
{
    box-shadow: 0 7px 12px rgb(0 0 0 / 12%);
    transform: translatey(6px);
}
.pricing-month
{
    padding:30px 0 10px;
}
.pricing-month h3
{
    line-height: 1;
    color: #333;
    font-size: 42px;
    font-family: poppins,Helvetica,sans-serif;
    font-weight:400;
}
.pricing-month small
{
    color: #aaa;
    font-family: poppins,Helvetica,sans-serif;
}
.pricing-btn
{
    margin: 10px 0 20px;
    padding:12px 28px;
    color:#222a;
    background: white;
    border-radius:28px;
}
.pricing-silver-btn
{
    border:2px solid #d5d5d5;
}
.pricing-gold-btn
{
    border:2px solid #007ced;
}
.pricing-platinum-btn
{
    border:2px solid #007ced;
}
.pricing-row
{
    padding: 5px 0;
    font-size: 14px;
    line-height:1.75;
    color:#666;
    font-family: poppins,Helvetica,sans-serif;
}
/* ....................footer.............. */
.footer-container
{
    margin-top: 60px;
    border-top: 2px solid #f2f2f2;
}
.footer-content
{
    display:flex;
    justify-content: space-between;
    
}   
.footer-content ul
{
    padding:20px 0;
}
.footer-content ul li
{
    font-size:14px;
    color:#333;
    font-family: poppins,Helvetica,sans-serif;
    display:inline-block;
   
}
.footer-content ul li a
{
    color:#333;
}
.footer-fb, .footer-insta
{
    margin-left:30px;
}
.footer-copywrite-content
{
    padding:20px 0;
    font-size:14px;
    line-height: 21px;
}
/* ................media query........... */
/* ....................homepage................. */

@media (min-width: 320px)
{
    .homepage
    {
        background: #ffffff;
    /* margin: 3% auto; */
    /* width: 90%; */
    /* border-radius: 40px; */
        margin:0;
        width:100%;
        border-radius:0px;
        padding: 40px 0 0;
    }
    
}
@media (min-width: 768px)
{
    .container 
    {
    width: 100%;
    }
}
@media (min-width:992px)
{
    .homepage
    {
        background: #ffffff;
        margin: 3% auto;
        width: 90%;
        border-radius: 40px; 
        padding: 40px 0 0;
    }
    .container
    {
        width:100%;
    }
}
@media (min-width: 1250px)
{
    .homepage
    {
        background: #ffffff;
        margin: 3% auto;
        width: 90%;
        border-radius: 40px; 
        padding: 40px 0 0;
    }
    .container
    {
        width:100%;
    }
}
@media screen and (min-width:320px)
{
    .header-menu-icon 
    {
    display:block; 
    float:right; 
    }
    .nav-bar ul li 
    {
        display:none;
    } 
    .top-bar
    {
        align-self: center;
        color:#666666;
    }
}    
@media screen and (min-width:320px) 
{
    .nav-bar.responsive a.header-menu-icon 
    {
    position: absolute;
    right: 0;
    top:0;
    }
    /* .dropdown-content
    {
        position:absolute;
    } */
    .top-nav.responsive ul, .dropdown, .dropbtn
    {
        float: none;
        display: block;
    }    
    .nav-bar.responsive ul li
    {
        /* float:right; */
        display:block;
    }
    .dropdown-content 
    {
        width:21%;
        margin: -37px 0 0 79px;
    }
}
@media screen and (min-width:320px)
{
    .nav-bar ul
    {
        position: absolute;
        z-index: 16;
        top: 100%;
        right: 0px;
        background:white;
        width:100%;
    }
    .nav-bar ul li
    {
        font-size:12px;
        padding:20px 0 20px 36px;
        
    }
    .nav-bar ul li a
    {
    font-size:16px;
    display:block;
    }
}
/* ................header................. */
@media screen and (min-width:576px)
{
    .header-menu-icon 
    {
    display:block; 
    float:right; 
    }
    .nav-bar ul li 
    {
        display:none;
    }
    .top-bar
    {
        align-self: center;
        color:#666666;
    } 
    .dropdown-content 
    {
        width:21%;
        margin: -37px 0 0 79px;
    }
}    
@media screen and (min-width:576px) 
{
    .nav-bar.responsive a.header-menu-icon 
    {
    position: absolute;
    right: 0;
    top:0;
    }
    .top-nav.responsive ul
    {
        float: none;
        display: block;
    }    
    .nav-bar.responsive ul li
    {
        /* float:right; */
        display:block;
    }
}
@media screen and (min-width:576px)
{
    .nav-bar ul
    {
        position: absolute;
        z-index: 16;
        top: 100%;
        right: 0px;
    }
    .nav-bar ul li
    {
        font-size:12px;
        padding-top:20px;
    }
    .nav-bar ul li a
    {
    font-size:16px;
    display:block;
    }
}

/* ........................header..................... */
@media (min-width: 768px)
{
    .dropdown-content 
    {
        width:21%;
        margin: -37px 0 0 79px;
    }
}
@media (min-width: 992px)
{
    .header-menu-icon
{
    display:none;
}
.top-bar
{
    align-self:center;
}
.nav-bar ul
{
    position:static;
}
.nav-bar ul li
{
    display:inline-block;
    margin-right:28px;
    font-family: poppins,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding:0;
        
}
.nav-bar-ul-li a
{
    font-size:14px;
}
.nav-clr
{
    color:#dadada;
}
.nav-active-clr
{
    color:#6a6a6a;
}
.fa-chevron-down
{
    font-size:11px;
    padding-left:3px;
    color:##dadada;
} 
}
@media (min-width: 992px)
{
    .dropdown-content
    {
        width:130%;
        margin:0;
    }
}
 /* .......................banner.................. */
@media screen and (min-width:320px)
{
    .banner-container
    {
        display:block;
    }
    .banner-img
    {
        width: 100%;
        height:auto;
    }
    .banner-center
    {
        text-align:left;
    }
    .banner-content
    {
        margin: 34px 0px 0 0px;
        text-align: center;
    }
    .banner-content h1
    {
        font-size:40px;
    }
    .bannerbtn, .banner-contact-btn
    {
        margin-top:20px;
    }
}

@media screen and (min-width:576px)
{
    .banner-container
    {
        display:block;
    }
    .banner-img
    {
        width: 100%;
        height:auto;
    }
    .banner-center
    {
        text-align:left;
    }
    .banner-content
    {
        margin: 34px 0px 0 0px;
        text-align: center;
    }
    .banner-content h1
    {
        font-size:48px;
    }
    .bannerbtn, .banner-contact-btn
    {
        margin-top:20px;
    }
}

@media screen and (min-width:768px) 
{
    .banner-container
    {
        padding:5% 0%;  
        display:flex;  
    }
    .banner-content
    {
        margin:34px 27px 0 40px;
        text-align:unset;
    }
    .banner-container-image
    {
        padding: 18px;
        align-self: center;
        border-radius: 50%;
        background: white;
    }
    .banner-img
    {
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
    .banner-button
    {
        display:flex;
    }
    .bannerbtn
    {
        padding:11px 29px;
    }
    .banner-contact-btn
    {
        margin-top:22px;
        padding:11px 29px;
    }
}   
@media (min-width: 992px)
{
    .banner-container
    {
        padding:5% 4%;    
    }
    .banner-container-image
    {
        padding: 20px;
        border-radius: 50%;
        background: white;
        margin-top: 11px;
    }
    .banner-img
    {
        border-radius: 50%;
        height:300px;
        width:300px;
    }
    .banner-button
    {
        display:flex;
    }
    .bannerbtn
    {
        padding:11px 40px;
    }
    .banner-contact-btn
    {
        margin-top:22px;
        padding:11px 40px;
    }
}
@media (min-width:1200px)
{
    .banner-container
    {
        padding:5% 14%; 
        display:flex;   
    }
}

/* ......................activities............ */
@media screen and (min-width:320px)
{
    .activities-heading-clr-1
    {
        width:9%;
    }
    .activities-heading-clr-2
    {
        width:17%;
    }
    .activities-content
    {
        display:block;
    }
    .copywrite, .ecommerce, .web-design, .marketing
    {
        width:100%;
    }
    .copywrite-content, .ecommerce-content, .web-content, .marketing-content
    {
        padding-left:40px;
    }
}
@media screen and (min-width:576px)
{
    .activities-heading-clr-1
    {
        width:5%;
    }
    .activities-heading-clr-2
    {
        width:12%;
    }
    .activities-content
    {
        display:block;
    }
    .copywrite, .ecommerce, .web-design, .marketing
    {
        width:100%;
    }
    .copywrite-content, .ecommerce-content, .web-content, .marketing-content
    {
        padding-left:40px;
    }
}

/* ...................activities................ */
@media screen and (min-width:768px) 
{
    .activities-heading-clr-1
    {
        width:3%;
    }
    .activities-heading-clr-2
    {
        width:10%;
    }
    .activities-content
    {
        display:flex;
    }
    .copywrite, .ecommerce, .web-design, .marketing
    {
        width:48%;
    }
    .copywrite-content, .ecommerce-content, .web-content, .marketing-content
    {
        padding-left:22px;
    }
} 
/* ......................activities.................  */
@media (min-width: 992px)
{
    .activities-heading-clr-1
    {
        width:3%;
    }
    .activities-heading-clr-2
    {
        width:9%;
    }
}  
/* .................testimonial................... */
@media screen and (min-width: 320px)
{
    .testimonials-clr-1
    {
        width:10%;
    }
    .testimonials-clr-2
    {
        width:22%;
    }
    .testimonials-section
    {
        display:block;
        padding-top:15px;
    }
    .testimonials-container-1
    {
        width:100%;
    }
    .testimonials-container-2
    {
        width:100%;
        margin:0;
    }
    .testimonials-img
    {
        top: -25px;
        left: 0;
    }
}
@media screen and (min-width: 576px)
{
    .testimonials-clr-1
    {
        width:7%;
    }
    .testimonials-clr-2
    {
        width:13%;
    }
    .testimonials-section
    {
        display:block;
        padding-top:15px;
    }
    .testimonials-container-1
    {
        width:100%;
    }
    .testimonials-container-2
    {
        width:100%;
        margin:0;
    }
    .testimonials-img
    {
        top: -25px;
        left: 0;
    }
}

/* ...................testimonials.............. */
@media (min-width:768px)
{
.testimonials-clr-1
{
    width:4%;
}
.testimonials-clr-2
{
    width:12%;
}
.testimonials-section
    {
        display:flex;
        margin-top:20px;
    }
    .testimonials-container-1
    {
        position:relative;
        width:46%;
        z-index:2;
    }
    .testimonials-container-2
    {
        position:relative;
        width:46%;
        z-index:2;
        margin-left:5%;
    }
    .fa-quote-left
    {
        bottom: 24%;
        left: 15%;
    }
    .fa-quote-right
    {
        right: -7%;
        bottom: -16px;
    }
}  
/* ....................testimonial.................. */
@media (min-width: 992px)
{
    .testimonials-clr-1
    {
        width:4%;
    }
    .testimonials-clr-2
    {
        width:10%;
    }
    .fa-quote-left
    {
        bottom: 27%;
        left: 14%;
    }
    .fa-quote-right
    {
        right: -6%;
        bottom: -14px;
    }
} 
@media (min-width: 1200px)
{
    .fa-quote-left
    {
        left:12%;
    }
    .fa-quote-right
    {
        right: -6%;
        bottom: -15px;
    }
}
/* ....................fun-facts.............. */
@media screen and (min-width: 320px)
{
    .sub-clr-1
    {
        width:8%;
    }
    .sub-clr-2
    {
        width:24%;
    }
    .fun-block
    {
        display:block;
    }
    .fun-client
    {
        width:100%;
        margin-top:10px;
    }
}
@media screen and (min-width: 576px)
{
    .sub-clr-1
    {
        width:5%;
    }
    .sub-clr-2
    {
        width:12%;
    }
    .fun-block
    {
        display:flex;
        margin-top:0;
    }
    .fun-client
    {
        width:23%;
    }
    .fun-client:hover
    {
    box-shadow: 0 7px 12px rgb(0 0 0 / 12%); 
    transform: translatey(6px);
    }
}
@media screen and (min-width:768px) 
{
    .sub-clr-1
    {
        width:4%;
    }
    .sub-clr-2
    {
        width:9%;
    }
} 
@media (min-width: 992px)
{
    .sub-clr-1
    {
        width:3%;
    }
    .sub-clr-2
    {
        width:8%;
    }
} 

/* ........................... pricing.................... */
@media screen and (min-width: 320px)
{
    .pricing-sub-clr-1
    {
        width:7%;
    }
    .pricing-sub-clr-2
    {
        width:15%;
    }
    .pricing-container
    {
        display:block;
    }
    .pricing-silver , .pricing-gold, .pricing-platinum
    {
        width:100%;
    }
    .pricing-gold-clr-1
    {
        width:16%;
    }
}
@media screen and (min-width: 576px)
{
    .pricing-sub-clr-1
    {
        width:3%;
    }
    .pricing-sub-clr-2
    {
        width:8%;
    }
    .pricing-container
    {
        display:block;
    }
    .pricing-silver , .pricing-gold, .pricing-platinum
    {
        width:100%;
    }
    .pricing-gold-clr-1
    {
        width:16%;
    }
}
@media (min-width:768px) 
{
    .pricing-sub-clr-1
    {
        width:2%;
    }
    .pricing-sub-clr-2
    {
        width:6%;
    }
    .pricing-container
    {
        display:flex
    }
    .pricing-silver , .pricing-gold, .pricing-platinum
    {
        width:31%;
    }
    .pricing-gold-clr-1
    {
        width:31%;
    }
} 
@media (min-width: 992px)
{
    .pricing-sub-clr-1
    {
        width:2%;
    }
    .pricing-sub-clr-2
    {
        width:6%;
    }
    .pricing-gold-clr-1
    {
        width:12%;
    }
    .pricing-silver , .pricing-gold, .pricing-platinum
    {
        width:31%;
    }
    .pricing-silver:hover
    {
        box-shadow: 0 7px 12px rgb(0 0 0 / 12%); 
        transform: translatey(6px);
    }
    .pricing-gold:hover
    {
        box-shadow: 0 7px 12px rgb(0 0 0 / 12%); 
        transform: translatey(6px);
    }
    .pricing-platinum:hover
    {
        box-shadow: 0 7px 12px rgb(0 0 0 / 12%); 
        transform: translatey(6px);
    }

}
/* ................footer................. */
@media screen and (min-width:320px)
{
    .footer-content
    {
        display:block;
        text-align:center;
    }
    .footer-content ul
    {
        padding: 20px 0 0;
    }
}
@media screen and (min-width:576px)
{
    .footer-content
    {
        display:block;
        text-align:center;
    }
    .footer-content ul
    {
        padding: 20px 0 0;
    }
}
@media screen and (min-width:768px) 
{
    .footer-content
    {
        display:block;
        text-align:center;
    }
    .footer-content ul
    {
        padding: 20px 0 0;
    }
}
@media screen and (min-width:992px) 
{
    .footer-content
    {
        display:flex;
    }
    .footer-content ul
    {
        padding:20px 0;
    }
}